nuget.exe
nuget*.exe
nuget.config
*.exe
*.nuspec
*.png
*.ico
*.png
*.nupkg
*.config
*.bat
*.old
*.css
*.js
/obj
/docs
*LinqDataCalc/public/*.css
*LinqDataCalc/public/*.js
*LinqDataCalc/styles/*.css
/styles/
/public/
/NuGet/
/lib
/obj/
/bin/Release
/lib/
/Releases/

